<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <div class="container">
    <a class="navbar-brand py-2" routerLink="/">My Notes</a>
    <div class="py-2 me-2 text-white text-capitalize d-lg-none" *ngIf="isUser">
      {{ username }}
    </div>
    <button #menuBtn class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-stretch" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 py-0">
        <li class="nav-item my-2 my-lg-0 me-1" (click)="closeMenu()">
          <a class="nav-link h-100 px-2 py-2 d-flex align-items-center" aria-current="page" routerLink="/todo" routerLinkActive="active" *ngIf="isUser">ToDo</a>
        </li>
        <li class="nav-item my-2 my-lg-0 me-1" (click)="closeMenu()">
          <a class="nav-link h-100 px-2 py-2 d-flex align-items-center" routerLink="/bookmarks" routerLinkActive="active" *ngIf="isUser">Bookmarks</a>
        </li>
      </ul>
      <ul class="ms-auto d-flex navbar-nav align-items-end align-items-lg-center">
        <li class="py-2 me-2 text-white text-capitalize d-none d-lg-block" *ngIf="isUser">
          {{ username }}
        </li>
        <li class="nav-item pointer fw-bold pointer" (click)="logout()" *ngIf="isUser">
          <span class="nav-link h-100 px-2 py-2 d-flex align-items-center text-white" (click)="closeMenu()">logout</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
